$primaire: #9356DC;
$secondaire: #FF79DA;
$tertaire: #99E2D0;

@mixin breakpoint($point) {
    @if $point == tablette {
        @media screen and(min-width: 750px) { @content; }
    }
    @else if $point == desktop {
        @media screen and(min-width: 1000px) { @content }
    }
}
@keyframes progress-bar{
    0% {
        transform: scaleX(0);
        
    }
    17% {
        transform: scaleX(.18);
    }
    24% {
        transform: scaleX(.4);
    }
    46% {
        transform: scaleX(.81);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes progress-bar4{
    0% {
        transform: rotate(0);
        
    }
    50%{
        transform: rotate(1turn);
    }
    
    100% {
        transform: rotate(2turn);
    }
}


body
{
    background-color: white;
    font-family: Roboto, sans-serif, Shrikhand;
    margin: 0; 
    @include breakpoint(desktop){
        width: 90%;
        margin: auto;
    }
}
.presentation-fonctionnement
{
    @include breakpoint(desktop){
    display: flex;
    width: 100%;
    h2 
    {
        text-align: center;
    }

    }
    
}

.presentation
{
    background-color: #f2f2f2;
    @include breakpoint(desktop){
        max-width: 40%;
    }
    .presentation--localisation
{
    display: flex;
    background-image: linear-gradient(to top, #e0dfdf 90%, #bdbbbb);
    justify-content: center;
    padding: 10px 0px 10px 0px;
    .presentation--form
    {
        border: none;
        background: none;
    }
}
    h2 
    {
        margin: auto;
        text-align: center;
        width: 80%;
    }
    p 
    {
        text-align: center;
        width: 80%;
        margin: auto;
    }
    .presentation__btn
    {
        padding: 10px 10px;
        text-align: center;
        width: 50%;
        margin: auto;
        background-image: linear-gradient(to top, $primaire, $secondaire);
        border-radius: 20px;
        & a 
        {
            text-decoration: none;
            color: #fff;
        }
    }
}
.logo--align
{
    margin: auto;
}
.ohmyfood__header
{
    display: flex;
    align-items: center;
    i 
    {
        margin-left: 40px;
        color: rgb(77, 75, 75);
    }
    @include breakpoint(desktop){
    background-color: #f2f2f2;
    padding-bottom: 20px;
    div 
    {
        margin: auto;
    }
    }
    
    .ohmyfood__header__logo
{
    width: 60%;
    display: block;
    margin: auto;
    padding-top: 15px;
    @include breakpoint(desktop){
    }
}
}


.fonctionnement
{
    padding-left: 15px;
    @include breakpoint(desktop){
        min-width: 40%;
        margin: auto;
    }
    .fonctionnement__contener
    {
        display: flex;
        font-weight: bold;
        max-width: 90%;
        border-radius: 15px;
        margin-left: 10px;
        background-color: #f8f8f8;
        box-shadow: 0px 2px 6px rgba(68, 35, 35, 0.3);
        
        
        &:hover
        {
            background-color: lighten($color: $primaire, $amount: 35)
        }
        .fonctionnement__numero
        {
            background-color: $primaire;
            padding: 1px 6px;
            border-radius: 50%;
            color: #fff;
            font-weight: normal;
            position: relative;
            right: 10px;
            margin-right: 15px;
        }
        .fonctionnement__icone
        {
            color: darken($color: #f2f2f2, $amount: 35%);
            margin-right: 25px;
            
        }
        @include breakpoint(desktop){
            height: 70px;
            display: flex;
            align-items: center;
        }
    }
    
}
.restaurants__all-contener
{
    @include breakpoint(desktop){
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: -15px;
        
    }
}
.restaurants
{
    background-color: #f2f2f2;
    padding-left: 15px;

    .restaurants__contener
    {
        
        background-color: #fff;
        max-width: 95%;
        border-radius: 15px;
        @include breakpoint(desktop){
            min-width: 23%;
            margin-right: 0px;
            margin-bottom: 40px;
            margin-top: 20px;
        }
    }
    .restaurants__image1
    {
        background-image: url(images/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
        background-repeat: no-repeat;
        border-top-left-radius: 15px ;
        border-top-right-radius: 15px ;
        background-position: center;
        background-size: 100%;
        min-width: 100%;
        height: 215px;
        @include breakpoint(desktop){
            margin-top: 20px;
            position: relative;
            bottom: 20px;
            background-size: cover;
            
        }
        & p 
        {
            background-color: $tertaire;
            background-size: cover;
            color: darken($color: $tertaire, $amount: 40);
            font-weight: bold;
            max-width: 30%;
            padding: 5px 0px;
            text-align: center;
            margin-left: auto;
            margin-right: 15px;
            position: relative;
            top: 15px;
        }
    }
    .restaurants__description
    {
        display: flex;
        justify-content: space-between;
        max-width: 90%;
        margin: auto;
    }
    .restaurants__image2
    {
        background-image: url(images/stil-u2Lp8tXIcjw-unsplash.jpg);
        @extend .restaurants__image1;
    }
    .restaurants__image3
    {
        background-image: url(images/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
        @extend .restaurants__image1;
    }
    .restaurants__image4
    {
        background-image: url(images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
        @extend .restaurants__image1
    }
    i
    {
        font-size: large;
        
        &:hover
        {
        }
    }
    
    
}
.text--bold
{
    font-weight: bold;
}
footer 
{
    background-color: rgb(36, 39, 39);
    padding-top: 10px;
    padding-left: 15px;
    h3 
    {
        font-family: Shrikhand;
        color: #ccc9c9;
        font-weight: normal;
    }
    p 
    {
        color: #ccc9c9;
    }
    @include breakpoint(desktop){
        display: flex;
        height: 150px;
        justify-content: space-between;
        align-items: center;
    }
    
}
.padding__right
{
    padding-right: 15px;
}

.menu1 {
    background-color: #f2f2f2;
    padding-left: 15px;
    margin-top: -50px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    .menu__title
    {
    display: flex;
    justify-content: space-between;
        i 
        {
            font-size: x-large;
            color: #807e7e;
            margin-left: -50px;
        }
    }
    .menu__contener{
    display: flex;
    align-items: center;
    width: 94%;
    background-color: white;
    border-radius: 15px;
    padding-left: 10px;
    &:hover
    {
        & .menu__contener__ani
        {
            display: flex;
            justify-content: center;
            align-items: center;
            transform: scalex(1);
            animation: progress-bar 1000 1150ms;
            

        }
        & i 
        {
            animation: progress-bar4 800ms;
        }
        
    }
    .menu__contener__ani
    {
        min-width: 20%;
        background: #99E2D0;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        transform-origin: right;
        transform: scalex(0);
        transition: transform 1000ms ease-in-out;
        display: none;
        i 
        {
            transition: transform 0s ease-in-out;
            transform: rotate(0);

        }

    }
    @include breakpoint(desktop)
    {
        width: 23%;
    }
    }
    .menu__contener__visible
    {
        
        width: 100%;
        margin: auto;
        padding-right: 15px;
        
        @include breakpoint(desktop)
        {
        }
        
    }
    h2 
    {
        font-family: Shrikhand;
    }
    .menu__border
    {
        width: 12%;
        border-top: 3px $tertaire solid;
        margin-top: -5px;
    }
    .menu__price 
    {
        display: flex;
        justify-content: space-between;
        margin-top: -25px;
        
        
        
    }
    .commande__btn
    {
        padding: 10px 10px;
        text-align: center;
        width: 50%;
        margin: auto;
        background-image: linear-gradient(to top, $primaire, $secondaire);
        border-radius: 20px;
        overflow: hidden;
        & a 
        {
            text-decoration: none;
            color: #fff;
        }
        
    }
    .menu__all
    {
        @include breakpoint(desktop)
        {
            
        }
    }
    
    

}

.menu__image
{
    background-image: url(images/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    background-size: 100%;
    max-width: 100%;
    height: 240px;
    @include breakpoint(desktop){
        height: 450px;
        background-position: center;
    }

}



