@keyframes progress-bar {
  0% {
    transform: scaleX(0);
  }
  17% {
    transform: scaleX(0.18);
  }
  24% {
    transform: scaleX(0.4);
  }
  46% {
    transform: scaleX(0.81);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes progress-bar4 {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(1turn);
  }
  100% {
    transform: rotate(2turn);
  }
}
body {
  background-color: white;
  font-family: Roboto, sans-serif, Shrikhand;
  margin: 0;
}
@media screen and (min-width: 1000px) {
  body {
    width: 90%;
    margin: auto;
  }
}

@media screen and (min-width: 1000px) {
  .presentation-fonctionnement {
    display: flex;
    width: 100%;
  }
  .presentation-fonctionnement h2 {
    text-align: center;
  }
}

.presentation {
  background-color: #f2f2f2;
}
@media screen and (min-width: 1000px) {
  .presentation {
    max-width: 40%;
  }
}
.presentation .presentation--localisation {
  display: flex;
  background-image: linear-gradient(to top, #e0dfdf 90%, #bdbbbb);
  justify-content: center;
  padding: 10px 0px 10px 0px;
}
.presentation .presentation--localisation .presentation--form {
  border: none;
  background: none;
}
.presentation h2 {
  margin: auto;
  text-align: center;
  width: 80%;
}
.presentation p {
  text-align: center;
  width: 80%;
  margin: auto;
}
.presentation .presentation__btn {
  padding: 10px 10px;
  text-align: center;
  width: 50%;
  margin: auto;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  border-radius: 20px;
}
.presentation .presentation__btn a {
  text-decoration: none;
  color: #fff;
}

.logo--align {
  margin: auto;
}

.ohmyfood__header {
  display: flex;
  align-items: center;
}
.ohmyfood__header i {
  margin-left: 40px;
  color: #4d4b4b;
}
@media screen and (min-width: 1000px) {
  .ohmyfood__header {
    background-color: #f2f2f2;
    padding-bottom: 20px;
  }
  .ohmyfood__header div {
    margin: auto;
  }
}
.ohmyfood__header .ohmyfood__header__logo {
  width: 60%;
  display: block;
  margin: auto;
  padding-top: 15px;
}
.fonctionnement {
  padding-left: 15px;
}
@media screen and (min-width: 1000px) {
  .fonctionnement {
    min-width: 40%;
    margin: auto;
  }
}
.fonctionnement .fonctionnement__contener {
  display: flex;
  font-weight: bold;
  max-width: 90%;
  border-radius: 15px;
  margin-left: 10px;
  background-color: #f8f8f8;
  box-shadow: 0px 2px 6px rgba(68, 35, 35, 0.3);
}
.fonctionnement .fonctionnement__contener:hover {
  background-color: #f2eafb;
}
.fonctionnement .fonctionnement__contener .fonctionnement__numero {
  background-color: #9356DC;
  padding: 1px 6px;
  border-radius: 50%;
  color: #fff;
  font-weight: normal;
  position: relative;
  right: 10px;
  margin-right: 15px;
}
.fonctionnement .fonctionnement__contener .fonctionnement__icone {
  color: #999999;
  margin-right: 25px;
}
@media screen and (min-width: 1000px) {
  .fonctionnement .fonctionnement__contener {
    height: 70px;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1000px) {
  .restaurants__all-contener {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -15px;
  }
}

.restaurants {
  background-color: #f2f2f2;
  padding-left: 15px;
}
.restaurants .restaurants__contener {
  background-color: #fff;
  max-width: 95%;
  border-radius: 15px;
}
@media screen and (min-width: 1000px) {
  .restaurants .restaurants__contener {
    min-width: 23%;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-top: 20px;
  }
}
.restaurants .restaurants__image1, .restaurants .restaurants__image4, .restaurants .restaurants__image3, .restaurants .restaurants__image2 {
  background-image: url(images/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-repeat: no-repeat;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-position: center;
  background-size: 100%;
  min-width: 100%;
  height: 215px;
}
@media screen and (min-width: 1000px) {
  .restaurants .restaurants__image1, .restaurants .restaurants__image4, .restaurants .restaurants__image3, .restaurants .restaurants__image2 {
    margin-top: 20px;
    position: relative;
    bottom: 20px;
    background-size: cover;
  }
}
.restaurants .restaurants__image1 p, .restaurants .restaurants__image4 p, .restaurants .restaurants__image3 p, .restaurants .restaurants__image2 p {
  background-color: #99E2D0;
  background-size: cover;
  color: #278870;
  font-weight: bold;
  max-width: 30%;
  padding: 5px 0px;
  text-align: center;
  margin-left: auto;
  margin-right: 15px;
  position: relative;
  top: 15px;
}
.restaurants .restaurants__description {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin: auto;
}
.restaurants .restaurants__image2 {
  background-image: url(images/stil-u2Lp8tXIcjw-unsplash.jpg);
}
.restaurants .restaurants__image3 {
  background-image: url(images/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
.restaurants .restaurants__image4 {
  background-image: url(images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}
.restaurants i {
  font-size: large;
}
.text--bold {
  font-weight: bold;
}

footer {
  background-color: #242727;
  padding-top: 10px;
  padding-left: 15px;
}
footer h3 {
  font-family: Shrikhand;
  color: #ccc9c9;
  font-weight: normal;
}
footer p {
  color: #ccc9c9;
}
@media screen and (min-width: 1000px) {
  footer {
    display: flex;
    height: 150px;
    justify-content: space-between;
    align-items: center;
  }
}

.padding__right {
  padding-right: 15px;
}

.menu1 {
  background-color: #f2f2f2;
  padding-left: 15px;
  margin-top: -50px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.menu1 .menu__title {
  display: flex;
  justify-content: space-between;
}
.menu1 .menu__title i {
  font-size: x-large;
  color: #807e7e;
  margin-left: -50px;
}
.menu1 .menu__contener {
  display: flex;
  align-items: center;
  width: 94%;
  background-color: white;
  border-radius: 15px;
  padding-left: 10px;
}
.menu1 .menu__contener:hover .menu__contener__ani {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scalex(1);
  animation: progress-bar 1000 1150ms;
}
.menu1 .menu__contener:hover i {
  animation: progress-bar4 800ms;
}
.menu1 .menu__contener .menu__contener__ani {
  min-width: 20%;
  background: #99E2D0;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  transform-origin: right;
  transform: scalex(0);
  transition: transform 1000ms ease-in-out;
  display: none;
}
.menu1 .menu__contener .menu__contener__ani i {
  transition: transform 0s ease-in-out;
  transform: rotate(0);
}
@media screen and (min-width: 1000px) {
  .menu1 .menu__contener {
    width: 23%;
  }
}
.menu1 .menu__contener__visible {
  width: 100%;
  margin: auto;
  padding-right: 15px;
}
.menu1 h2 {
  font-family: Shrikhand;
}
.menu1 .menu__border {
  width: 12%;
  border-top: 3px #99E2D0 solid;
  margin-top: -5px;
}
.menu1 .menu__price {
  display: flex;
  justify-content: space-between;
  margin-top: -25px;
}
.menu1 .commande__btn {
  padding: 10px 10px;
  text-align: center;
  width: 50%;
  margin: auto;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  border-radius: 20px;
  overflow: hidden;
}
.menu1 .commande__btn a {
  text-decoration: none;
  color: #fff;
}
.menu__image {
  background-image: url(images/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: 100%;
  max-width: 100%;
  height: 240px;
}
@media screen and (min-width: 1000px) {
  .menu__image {
    height: 450px;
    background-position: center;
  }
}

/*# sourceMappingURL=style.css.map */
