@charset "UTF-8";
/*breskpoint pour adapter notre site sur tablette et desktop*/
/*animation qui apparait en hover sur les conteneurs des entrées, plats et desserts */
@keyframes men-contener-ani {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
/* keyframes pour la rotation de l'icon lorsqu'il apparaît en hover*/
@keyframes rotation-icon {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(1turn);
  }
  100% {
    transform: rotate(2turn);
  }
}
/*animation qui affiche la page d'acceuil avec un retard de 3s*/
@keyframes delai-page {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
/* animation du loader spinner*/
@keyframes loader-light {
  0% {
    color: #9356DC;
    text-shadow: 0 0 7x #9356DC;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #FF79DA;
    text-shadow: 0 0 7x #FF79DA;
  }
}
/* animation permettant de faire disparaître le loader spinner*/
@keyframes loader {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  95% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
body {
  background-color: white;
  font-family: Roboto, sans-serif, Shrikhand;
  margin: 0;
}
@media screen and (min-width: 1000px) {
  body {
    width: 90%;
    margin: auto;
  }
}

.text--bold {
  font-weight: bold;
}

.padding__right {
  padding-right: 15px;
}

.ohmyfood__header {
  display: flex;
  align-items: center;
}
.ohmyfood__header i {
  margin-left: 40px;
  color: #4d4b4b;
}
@media screen and (min-width: 1000px) {
  .ohmyfood__header {
    background-color: #f2f2f2;
    padding-bottom: 20px;
  }
  .ohmyfood__header div {
    margin: auto;
  }
}
.ohmyfood__header .ohmyfood__header__logo {
  width: 60%;
  display: block;
  margin: auto;
  padding-top: 15px;
}
@media screen and (min-width: 750px) {
  .ohmyfood__header {
    display: flex;
    justify-content: space-between;
  }
}

footer {
  background-color: #242727;
  padding-top: 10px;
  padding-left: 15px;
}
footer h3 {
  font-family: Shrikhand;
  color: #ccc9c9;
  font-weight: normal;
}
footer p {
  color: #ccc9c9;
}
footer a {
  text-decoration: none;
  color: #ccc9c9;
}
@media screen and (min-width: 1000px) {
  footer {
    display: flex;
    height: 150px;
    justify-content: space-between;
    align-items: center;
  }
}

.presentation {
  background-color: #f2f2f2;
}
@media screen and (min-width: 1000px) {
  .presentation {
    max-width: 40%;
  }
}
.presentation .presentation--localisation {
  display: flex;
  background-image: linear-gradient(to top, #e0dfdf 90%, #bdbbbb);
  justify-content: center;
  padding: 10px 0px 10px 0px;
}
.presentation .presentation--localisation .presentation--form {
  border: none;
  background: none;
}
.presentation h2 {
  margin: auto;
  text-align: center;
  width: 80%;
}
.presentation p {
  text-align: center;
  width: 80%;
  margin: auto;
}
.presentation .presentation__btn {
  padding: 10px 10px;
  text-align: center;
  width: 50%;
  margin: auto;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  border-radius: 20px;
}
.presentation .presentation__btn a {
  text-decoration: none;
  color: #fff;
}
.presentation .presentation__btn:hover {
  background-image: linear-gradient(to top, #a16be0, #FF79DA);
}

@media screen and (min-width: 1000px) {
  .presentation-fonctionnement {
    display: flex;
    width: 100%;
  }
  .presentation-fonctionnement h2 {
    text-align: center;
  }
}

.fonctionnement {
  padding-left: 15px;
}
@media screen and (min-width: 1000px) {
  .fonctionnement {
    min-width: 40%;
    margin: auto;
  }
}
.fonctionnement .fonctionnement__contener {
  display: flex;
  font-weight: bold;
  max-width: 90%;
  border-radius: 15px;
  margin-left: 10px;
  background-color: #f8f8f8;
  box-shadow: 0px 2px 6px rgba(68, 35, 35, 0.3);
}
.fonctionnement .fonctionnement__contener:hover {
  background-color: #f2eafb;
}
.fonctionnement .fonctionnement__contener .fonctionnement__numero {
  background-color: #9356DC;
  padding: 1px 6px;
  border-radius: 50%;
  color: #fff;
  font-weight: normal;
  position: relative;
  right: 10px;
  margin-right: 15px;
}
.fonctionnement .fonctionnement__contener .fonctionnement__icone {
  color: #999999;
  margin-right: 25px;
}
@media screen and (min-width: 1000px) {
  .fonctionnement .fonctionnement__contener {
    height: 70px;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1000px) {
  .restaurants__all-contener {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -15px;
  }
}

.restaurants {
  background-color: #f2f2f2;
  padding-left: 15px;
}
.restaurants a {
  text-decoration: none;
  color: black;
}
.restaurants .restaurants__contener {
  background-color: #fff;
  max-width: 95%;
  border-radius: 15px;
}
@media screen and (min-width: 1000px) {
  .restaurants .restaurants__contener {
    min-width: 23%;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-top: 20px;
  }
}
.restaurants .restaurants__image1, .restaurants .restaurants__image4, .restaurants .restaurants__image3, .restaurants .restaurants__image2 {
  background-image: url(images/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-repeat: no-repeat;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-position: center;
  background-size: 100%;
  min-width: 100%;
  height: 215px;
}
@media screen and (min-width: 1000px) {
  .restaurants .restaurants__image1, .restaurants .restaurants__image4, .restaurants .restaurants__image3, .restaurants .restaurants__image2 {
    margin-top: 20px;
    position: relative;
    bottom: 20px;
    background-size: cover;
  }
}
.restaurants .restaurants__image1 p, .restaurants .restaurants__image4 p, .restaurants .restaurants__image3 p, .restaurants .restaurants__image2 p {
  background-color: #99E2D0;
  background-size: cover;
  color: #278870;
  font-weight: bold;
  max-width: 30%;
  padding: 5px 0px;
  text-align: center;
  margin-left: auto;
  margin-right: 15px;
  position: relative;
  top: 15px;
}
.restaurants .restaurants__description {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin: auto;
}
.restaurants .restaurants__description .restaurants__description__icone .heart-1:hover {
  opacity: 0;
}
.restaurants .restaurants__description .restaurants__description__icone .heart-2 {
  position: relative;
  left: -18px;
  opacity: 0;
  transition: 550ms ease-in-out;
}
.restaurants .restaurants__description .restaurants__description__icone .heart-2:hover {
  opacity: 1;
  transform: scale(1.2);
  transform-origin: center;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.restaurants .restaurants__image2 {
  background-image: url(images/stil-u2Lp8tXIcjw-unsplash.jpg);
}
.restaurants .restaurants__image3 {
  background-image: url(images/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
.restaurants .restaurants__image4 {
  background-image: url(images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}
.restaurants i {
  font-size: large;
}
/*animation permettant d'afficher la page d acceuil avec un retar de 2.8s*/
.body__page {
  animation: men-contener-ani 1000ms backwards;
  animation-timing-function: cubic-bezier(0.11, -0.2, 0.04, 1.01);
  animation-delay: 2.8s;
}

/*loader spinner*/
.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 3s forwards;
  animation-timing-function: cubic-bezier(0.11, -0.2, 0.04, 1.01);
}
@media screen and (min-width: 1000px) {
  .loader {
    width: 90%;
  }
}
.loader .lettre {
  color: #484848;
  font-size: 30px;
  letter-spacing: 15px;
  animation: loader-light 1s 3;
}
@media screen and (min-width: 1000px) {
  .loader .lettre {
    font-size: 80px;
  }
}
.loader .lettre:nth-child(1) {
  animation-delay: 0.1s;
}
.loader .lettre:nth-child(2) {
  animation-delay: 0.2s;
}
.loader .lettre:nth-child(3) {
  animation-delay: 0.3s;
}
.loader .lettre:nth-child(4) {
  animation-delay: 0.4s;
}
.loader .lettre:nth-child(5) {
  animation-delay: 0.5s;
}
.loader .lettre:nth-child(6) {
  animation-delay: 0.6s;
}
.loader .lettre:nth-child(7) {
  animation-delay: 0.7s;
}
.loader .lettre:nth-child(8) {
  animation-delay: 0.8s;
}
.loader .lettre:nth-child(9) {
  animation-delay: 0.9s;
}

.menu1 {
  background-color: #f2f2f2;
  padding-left: 15px;
  margin-top: -50px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  /*animation qui nous permettra d'affiche les uns après les autres les entrées, plats et dessert */
}
.menu1 .menu__title {
  display: flex;
  justify-content: space-between;
}
.menu1 .menu__title i {
  font-size: x-large;
  color: #807e7e;
  margin-left: -50px;
}
.menu1 .menu__contener {
  display: flex;
  align-items: center;
  width: 92%;
  background-color: white;
  border-radius: 15px;
  padding-left: 10px;
}
@media screen and (min-width: 1000px) {
  .menu1 .menu__contener {
    min-width: 350px;
  }
}
.menu1 .menu__contener:hover .menu__contener__ani {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scalex(1);
  animation: men-contener-ani 1000ms backwards;
  animation-timing-function: cubic-bezier(0.11, -0.2, 0.04, 1.01);
}
.menu1 .menu__contener:hover i {
  animation: rotation-icon 800ms;
}
.menu1 .menu__contener:hover .price {
  transform: translateX(0);
}
.menu1 .menu__contener:hover .menu__contener__visible {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu1 .menu__contener:hover .menu__description .hide__text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu1 .menu__contener .menu__contener__ani {
  min-width: 20%;
  background: #99E2D0;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  transform-origin: right;
  transform: scalex(0);
  transition: transform 1000ms;
  display: none;
}
.menu1 .menu__contener .menu__contener__ani i {
  transition: transform 0s ease-in-out;
  transform: rotate(0);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-color: white;
}
.menu1 .menu__contener__visible {
  width: 100%;
  margin: auto;
  padding-right: 15px;
}
.menu1 h2 {
  font-family: Shrikhand;
}
.menu1 .menu__border {
  width: 12%;
  border-top: 3px #99E2D0 solid;
  margin-top: -5px;
}
.menu1 .menu__description {
  display: flex;
  justify-content: space-between;
  margin-top: -25px;
  transition: display 5s;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu1 .commande__btn {
  padding: 12px 10px;
  text-align: center;
  width: 40%;
  margin: auto;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 0px 2px 8px #a3a2a2;
  border-radius: 20px;
}
.menu1 .commande__btn a {
  text-decoration: none;
  color: #fff;
}
.menu1 .commande__btn:hover {
  background-image: linear-gradient(to top, #a16be0, #FF79DA);
}
@media screen and (min-width: 1000px) {
  .menu1 .commande__btn {
    width: 20%;
  }
}
.menu1 .entre__ani {
  animation: men-contener-ani 1000ms backwards;
  animation-timing-function: cubic-bezier(0.11, -0.2, 0.04, 1.01);
  animation-delay: 400ms;
}
.menu1 .plat__ani {
  animation: men-contener-ani 1000ms backwards;
  animation-timing-function: cubic-bezier(0.11, -0.2, 0.04, 1.01);
  animation-delay: 700ms;
}
.menu1 .desserts__ani {
  animation: men-contener-ani 1000ms backwards;
  animation-timing-function: cubic-bezier(0.11, -0.2, 0.04, 1.01);
  animation-delay: 1100ms;
}
@media screen and (min-width: 1000px) {
  .menu1 .menu__all {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.menu__image {
  background-image: url(images/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: 100%;
  height: 240px;
}
@media screen and (min-width: 1000px) {
  .menu__image {
    height: 450px;
    background-position: center;
    margin-top: -19px;
  }
}

/*# sourceMappingURL=style.css.map */
